<!-- <p *ngFor="let road of roadsList$ | async">{{ road }}</p> -->

<h1 class="title">Select the road</h1>
<p class="title__note">5 roads limit</p>

<div class="selection__container">
  <mat-form-field>
    <mat-label>Select a Road</mat-label>
    <mat-select
      [formControl]="roads"
      multiple
      [disabled]="(roads.value?.length || 0) >= 5"

    >
      <mat-select-trigger>
        {{roads.value?.[0] || ''}}
        <span
          class="selection__addition"
          *ngIf="(roads.value?.length || 0) > 1"
        >
          (+{{ (roads.value?.length || 0) - 1 }}
          {{ roads.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let road of roadsList$ | async; track: road"
        [value]="road"
        >{{ road }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <p class="checked__roads">
    You selected:
    <span
      *ngFor="let selectedRoad of roads.value; index as id"
      class="selected__road"
      (onClick)="onSelectedRoadClick(id)"
      >{{ selectedRoad }}</span
    >
  </p>
</div>

