<mat-slide-toggle [(ngModel)]="isChecked.roadWorks">Roadworks</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.webcam">Webcam</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.parking">Parking</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.warning">Warning</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.weightLimit35">Weight limit 35t</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.closure">Closure</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.closureEntryExit">Closure entry/exit</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.strongElectricChargingStation">Strong charging sation</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.shortTermRoadWorks">Short term roadworks</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked.electricChargingStation">Charging station</mat-slide-toggle>

<!-- <p>Slide Toggle inside of a Reactive form</p> -->

<!-- <form
  class="example-form"
  [formGroup]="formGroup"
  (ngSubmit)="alertFormValues(formGroup)"
  ngNativeValidate
>
  <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle>
  <mat-slide-toggle formControlName="acceptTerms"
    >Accept Terms of Service</mat-slide-toggle
  >

  <p>Form Group Status: {{ formGroup.status }}</p>

  <button mat-raised-button type="submit">Save Settings</button>
</form> -->
