:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px;
  position: fixed;
  color: #333333;
  right: 10px;
  top: 50%;
  width: 250px;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.menu {
  &__list {
    padding: 20px;
  }

  &__item {
  }

  &__link {
    display: block;
    color: #333333;
    padding: 5px 10px;
    transition: 0.5s;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      transition: 0.5s;
    }
  }
}
