<app-header (roadsSelected)="onRoadsSelected($event)"></app-header>
<app-sidemenu (options)="onTypeChange($event)"></app-sidemenu>
<google-map
  height="100vh"
  width="100%"
  (mapClick)="onMapClick($event)"
  [center]="center"
  [zoom]="zoom"
  [contentEditable]="true"
>
  <!-- <map-marker
    [position]="position"
    [options]="markerOptions"
    (mapMouseup)="onPositionChanged()"
  /> -->

  <map-marker
  [position]="position"
  [options]="markerOptions"
/>
</google-map>
<!-- *ngFor="let marker of receivedData" -->
